<h1>
    codiel HOme page
</h1>

<section id="feed-post">
    <h4>POST</h4>
    <form action="/posts/create" method="post" id="new-post-form">
        <textarea 
                 name="content" 
                 id="post-content" 
                 cols="30" 
                 rows="5"></textarea>
        <input type="submit" value="Post">
    </form>

    <div id="posts-list">
        <ul>
            <% for (post of posts) { %>
                <li> <%= post.content%></li>
            <% } %>
        </ul>

    </div>

</section>